<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="#" th:action="@{/aggiungiLibroAction}" th:object="${libro}" method="post">
    <p>Author</p>
    <input type="text" th:field="*{autore}"/>
    <p th:if="${#fields.hasErrors('autore')}" th:errors="*{autore}">deve essere tra le 3 e i 10</p>

    <br/>

    <p>Title</p>
    <input type="text" th:field="*{titolo}"/>
    <p th:if="${#fields.hasErrors('titolo')}" th:errors="*{titolo}">deve essere tra le 3 e i 10</p>

    <br/>

    <p>Pubblication year (dd/mm/yyyy)</p>
    <input type="text" th:field="*{annoPubblicazione}"/>
    <p th:if="${#fields.hasErrors('annoPubblicazione')}" th:errors="*{annoPubblicazione}">deve essere tra le 3 e i 10</p>

    <br/>

    <p>Price</p>
    <input type="number" th:field="*{prezzo}"/>
    <p th:if="${#fields.hasErrors('prezzo')}" th:errors="*{prezzo}">deve essere tra le 3 e i 10</p>

    <br/>

    <input type="submit" value="submit">

</form>

</body>
</html>