<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <thead>
    <tr>
        <th> Nome</th>
        <th> Cognome</th>
        <th> Username</th>
        <th> Password</th>
    </tr>
    </thead>
    <tbody>
    <tr th:object="${utente}">
        <td><span th:text="${utente.nome}"> Titolo </span></td>
        <td><span th:text="${utente.cognome}"> Autore </span></td>
        <td><span th:text="${utente.username}"> Autore </span></td>
        <td><span th:text="${utente.password}"> Autore </span></td>
    </tr>
    </tbody>
</table>

</body>
</html>